@use 'sass:map';
@import '../../variables';

$bombs-count-colors: (
    '1': 'blue',
    '2': 'green',
    '3': 'red',
    '4': 'darkblue',
    '5': 'darkmagenta',
    '6': 'slateblue',
    '7': 'blueviolet',
    '8': 'darkorange',
    '9': 'darkred'
);

.cell {
    border: 1px solid darkgrey;
    user-select: none;
    width: 25px;
    max-width: 25px;
    height: 25px;
    max-height: 25px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    background-color: $cell-color;
    line-height: 25px;
}

.cell:not(._open) {
    box-shadow: inset 3px 3px 1px white, inset -3px -3px 1px #c5c5c5;
}

.cell._open {
    cursor: default;
}

.cell._bomb._open {
    background-image: url('../../assets/bomb.png');
    background-color: rgba(234, 42, 42, 0.709);
    background-repeat: no-repeat;
    background-size: contain;
}

@each $number, $color in $bombs-count-colors {
    .cell._open._bombs-nearby[data-bombs-nearby='#{$number}'] {
        color: #{$color};
    }
}

.cell._flag {
    background-image: url('../../assets/flag.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}
