.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    flex-grow: 1;
    padding: 16px;
}

.legend {
    width: 300px;
    padding: 8px;
    background-color: white;
    &__title {
        font-weight: 700;
        font-size: 1.4rem;
        margin-bottom: 8px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 4px;
    }
}
