.fieldContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field {
    display: inline-block;
    border: 2px solid darkgrey;
}

.row {
    display: flex;
}
