@import './variables';

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

.center {
  text-align: center;
}

.button {
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.2s ease;
  &_new-game {
    padding: 8px;
    background-color: $button-color;
    color: white;
    border: 1px solid $button-color;
    &:hover {
      background-color: white;
      color: $button-color;
    }
  }
}
