@import './variables';

*:focus {
  outline: 2px solid #000088;
  outline-offset: 2px;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

.center {
  text-align: center;
}

.button {
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  padding: 8px;
  &_new-game {
    background-color: $new-game-button-color;
    color: white;
    border: 1px solid $new-game-button-color;
    &:hover {
      background-color: white;
      color: $new-game-button-color;
    }
  }
  &_submit {
    color: white;
    background-color: blue;
    border-width: 1px;
    border-color: blue;
    &:hover {
      background-color: white;
      color: blue;
    }
  }
  &:disabled,
  &[disabled] {
    user-select: none;
    cursor: default;
    background-color: #7f7f7f;
    border-color: #7f7f7f;
    color: #ffffff;
  }
}

.title {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.error {
  color: red;
  padding: 4px 0 8px;
}

.toggle-button {
  width: 32px;
  height: 32px;
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  opacity: 0.7;
  transform: scale(0.9);
  cursor: pointer;
  &:hover {
    opacity: 1;
    transform: scale(1);
  }
}

.cross {
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    border-radius: 2px;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  & > div {
    height: 4px;
    border-radius: 3px;
    background-color: #000;
  }
}
