.settings {
  position: fixed;
  width: 300px;
  border-right: 2px solid lightgray;
  inset: 0;
  box-shadow: 5px 0 5px lightgray;
  background-color: white;
  z-index: 1;
  &__section {
    padding: 8px 12px;
  }
  &__block {
    & ~ & {
      margin-top: 8px;
    }
  }
  &__submit {
    padding: 0 12px 8px;
  }
}
