.settings {
  position: fixed;
  width: 300px;
  inset: 0;
  background-color: white;
  z-index: 1;
  transform: translateX(-100%);
  transition-property: transform, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  &__section {
    padding: 8px 12px;
  }
  &__block {
    & ~ & {
      margin-top: 8px;
    }
  }
  &__submit {
    padding: 0 12px 8px;
  }
  &_opened {
    border-right: 2px solid lightgray;
    box-shadow: 5px 0 5px lightgray;
    transform: translateX(0);
  }
  &_button-close {
    position: absolute;
    right: 13px;
    top: 13px;
  }
}
